{% extends 'blog/base.html' %}

{% block title %} Blog {% endblock %}

{% block content %}
    <section style="display: grid; grid-template-columns: 1fr 1fr ; gap : 20px;">
        {% for post in liste_blogs %}
            <div class="blog-grid-content">
                <div class="blog-image">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                </div>
                <div class="blog-content">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content|truncatewords:20 }}</p>
                    <a href="{% url 'blog:blog_details' post.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        {% endfor %}
    </section>
    <div class="pagination">
        {% if liste_blogs.has_previous %}
            <a href="?page={{ liste_blogs.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ liste_blogs.number }} of {{ liste_blogs.paginator.num_pages }}</span>

        {% if liste_blogs.has_next %}
            <a href="?page={{ liste_blogs.next_page_number }}">Next</a>
        {% endif %}
    </div>
{% endblock %}

<!-- Pagination -->

<!-- liste_blogs.has_previous : boolean , renvoie true ou false selon qu'il y a une page avant ou pas  -->
<!-- liste_blogs.has_next : boolean , renvoie true ou false selon qu'il y a une page après ou pas  -->
<!-- liste_blogs.number : int , current number  -->
<!-- liste_blogs.paginator.num_pages : int , nombre total de page  -->
<!-- liste_blogs.next_page_number : ajout +1 et passe à la page suivante  -->
<!-- liste_blogs.previous_page_number : ajout -1 et passe à la page d'avant  -->