<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog de rencontre</title>
    {% load static %} <!-- Load the static template tag -->
    <link rel="stylesheet" href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
</head>
<body>
{% include 'blog/partials/navbar.html' %}

<!-- slider content area -->

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'blog/images/made-for-each-other.jpg' %}" class="d-block w-100" alt="Made for each other image">
      <div class="carousel-caption d-none d-md-block">
        <h5>MADE FOR EACH OTHER</h5>
        <p>It is a long established fact that a reader will be distracted by the readable content of page when looking at this</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'blog/images/my-heart-is-yours.jpg' %}" class="d-block w-100" alt="My heart is yours image">
      <div class="carousel-caption d-none d-md-block">
        <h5>MY HEART IS YOURS</h5>
        <p>It is a long established fact that a reader will be distracted by the readable content of page when looking at this</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'blog/images/made-it-come-true.jpg' %}" class="d-block w-100" alt="Made it come true image">
      <div class="carousel-caption d-none d-md-block">
        <h5>Made it come true</h5>
        <p>It is a long established fact that a reader will be distracted by the readable content of page when looking at this</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<main>

    <div>
        <section>
        <div class="blog-grid">
            <div class="blog-image">
                <img src="{% static 'blog/images/my-heart-is-yours.jpg' %}" alt="my-heart-is-yours">
            </div>
            <div class="blog-content">
                <h2>MY HEART IS YOURS</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of page when looking at this</p>
                <ul>
                    <li>Just us, always</li>
                    <li>Forever starts now</li>
                    <li>Just us, always</li>
                </ul>
                <button class="btn btn-primary">Read More</button>
            </div>
        </div>
    </section>

    <section >
        <div class="blog-grid">
            <div class="blog-content">
                <h2>MY HEART IS YOURS</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of page when looking at this</p>
                <ul>
                    <li>Just us, always</li>
                    <li>Forever starts now</li>
                    <li>Just us, always</li>
                </ul>
                <button class="btn btn-primary">Read More</button>
            </div>
             <div class="blog-image">
                <img src="{% static 'blog/images/made-for-each-other.jpg' %}" alt="my-heart-is-yours">
            </div>
        </div>
    </section>

    <section >
        <div class="blog-grid">
            <div class="blog-image">
                <img src="{% static 'blog/images/made-it-come-true.jpg' %}" alt="my-heart-is-yours">
            </div>
            <div class="blog-content">
                <h2>MY HEART IS YOURS</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of page when looking at this</p>
                <ul>
                    <li>Just us, always</li>
                    <li>Forever starts now</li>
                    <li>Just us, always</li>
                </ul>
                <button class="btn btn-primary">Read More</button>
            </div>
        </div>
    </section>
    </div>

</main>

<footer>
    <section class="footer-grid">
        <div class="footer-content-flex">
            <h2>ANGEL</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of page when looking at this</p>
        </div>
        <div class="footer-content-flex">
            <h2>CONTACT US</h2>
            <p>(436) 345 5456</p>
            <p>angel@gmail.com</p>
            <p>1234 Street Name, City, State, USA</p>
        </div>
        <div class="footer-content-flex">
            <h2> LINKS</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-content-flex">
            <h2>FOLLOW US</h2>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
    </section>
    <div class="footer">
        <p>© 2023 Blog de rencontre. All rights reserved.</p>
    </div>
</footer>

<script rel="text/javascript" src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>